@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #F16634;
    font-family: "Poppins", serif;
}

img {
  width: 200px;
}

.super-center-grid {
  display: flex;
  place-content: center;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.styled-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 20px;
  background-color:white;
  opacity: 40%;
  text-align: center;
  color: #333;
  font-family: "Poppins", serif;

}


.login-btn {
  margin-top: 3px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", serif;
  
}

.login-btn:hover {
  background-color: #0056b3;
}

.quiz-card {
  background-color: white;
  border-radius: 20px;
  width: 400px;
  align-content: center;
  border: double white;
}
.anjing{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputan {
  
}

.question {
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 50px
}

.jawaban {
  background-color: rgb(61, 177, 139);
  display: flex;
  align-items: center;
  justify-content: center;
  border: #333;
  text-align: center;
  padding: 2px;
  margin: 2px;
  border-radius: 25px;
  border: double white;
  cursor: pointer;
  color: white;
  height: 5pc;
}

.jawaban:hover {
  background-color: chartreuse;
}